<!-- 
a
 -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DeployTest ERC721-Web3</title>
    <link rel="stylesheet" type="text/css" href="css/document-registry.css" />
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/sha256.min.js"></script>
    <script src="https://unpkg.com/@metamask/legacy-web3@latest/dist/metamask.web3.min.js"></script>
    <script src="js/argiculture.js"></script>
</head>

<body>
    <header id="menu">
        <a href="#" id="linkHome">Home</a>
        <a href="#" id="linkSubmitDocument">mintToken</a>
        <a href="#" id="linkVerifyDocument">queryToken</a>
    </header>

    <main>
        <section id="loadingBox">Loading ...</section>

        <section id="infoBox"><header>x</header><p>Info</p></section>

        <section id="errorBox"><header>x</header><p>Error</p></section>

      

        <section id="viewHome">
            <h1>DeployTest ERC721-Web3 with MetaMask</h1>
            Welcome to the "DeployTest ERC721-Web3 with MetaMask" DApp. This
            decentralized app runs on the Etherereum blockchain network and
            holds a registry of items in a Solidity smart contract.
            <ul>
                <li>texttexttexttexttexttexttext.</li>
                <li><b>text</b> texttexttexttexttexttexttext.</li>
                <li>
                    Contract <b>address</b> (at Ropsten testnet):
                    <a href="#" id="contractLink" target="_blank"></a>
                </li>
            </ul>
        </section>

        <section id="viewSubmitDocument">
            <h1>mint Token</h1>
            <p>regist token metadataURI. regist token metadataURI.</p>
            
                <label>URI:
                    <input type="text" id="proname" name="proname" value="ipfs://" placeholder="metadata URI">
                </label>
                <br>
                <label>submit:
                    <input type="button" id="itemUploadButton" value="mint">
                </label>

                <br>
                <br>
                <br>

                <div>
                    <input type="button" id="showTableButton" value="List Show" />
                </div>
                <br>

               
                <div id="myTable"></div>
                
        </section>

        <section id="viewVerifyDocument">
            <h1>Verify a Token</h1>
            <p>Blockchain users can verify documents by checking whether they exist in the "Document Registry" smart contract on the Ethereum blockchain decentralized network.</p>
            <label>Token ID:
                <input type="text" id="inputTokenId" name="inputTokenId" value="" placeholder="Token Id">
            </label>
            <input type="button" id="documentVerifyButton" value="Submit" />
            <ul>
                <li>
                    <b>Token balance: </b> (at Ropsten testnet):
                    <a href="#" id="tobal" target="_blank"></a>
                </li>
                <li>
                    <b>Token owner: </b> (at Ropsten testnet):
                    <a href="#" id="toner" target="_blank"></a>
                </li>
                <li>
                    <b>Token URI: </b> (at Ropsten testnet):
                    <a href="#" id="touri" target="_blank"></a>
                </li>
            </ul>
        </section>
    </main>
    
    <footer><a href="https://github.com/ChaeSuBin?tab=repositories">721demo</a></footer>
</body>
</html>
